<h1 appMarcaTexto corDeFundo="blue" corDoTexto="white" class="text-center">Live Angular Diretivas</h1> 

<!-- Diretivas de Atributo -->
<div 
[ngStyle]="{background: count < 5 ? 'red' : 'green'}"
[ngClass]="{custom: count > 5}"
>
  <h2 class="text-center">Contador: {{ count }} </h2>
</div>

<!-- Diretivas de Estruturais -->
<h2 *ngIf="count > 7; else menor">O contador passou de 7!</h2> <!-- *ngIf é uma forma de resumir um template, como se já tivesse um ng-template -->

<ng-template #menor>
  <h2>O contador é menor que 7!</h2>
</ng-template>

<ul [ngSwitch]="count" class="list-group mx-auto col-3 text-center">
  <li class="list-group-item"
  *ngSwitchCase="3"
  > É IGUAL A 3
  </li>
  <li class="list-group-item"
  *ngSwitchCase="4"
  > É IGUAL A 4
  </li>
  <li class="list-group-item"
  *ngSwitchCase="5"
  > É IGUAL A 5
  </li>
  <li class="list-group-item"
  *ngSwitchCase="6"
  > É IGUAL A 6
  </li>
  <li class="list-group-item"
  *ngSwitchCase="7"
  > É IGUAL A 7
  </li>
  <li class="list-group-item"
  *ngSwitchDefault
  > ESSE É O DEFAULT
  </li>
</ul>

<app-list-people></app-list-people>

<div class="mx-auto col-3 text-center">
<h3 appMarcaTexto corDeFundo="blue" corDoTexto="white">{{ nome }}</h3> <!-- Da lógica para o template [ts -> html]-->
<button class="btn btn-success" (click)="clicou('Claudio')">click!</button> 
<!-- Do template para a lógica (html -> ts)-->
</div>

<div class="col-4 mx-auto">
  <input 
  type="text" class="form-control" 
  placeholder="Digite alguma coisa"
  [(ngModel)]="text"
  >
  <h4 class="text-center">Saída: {{ text }}</h4>
</div>

<!-- Two way data-biding [(html <-> ts)]-->

<div class="container my-5">
  <div class="row d-flex align-items-center justify-content-center">
    <h2 class="text-center">LISTAGEM DE PERSONAGENS RICK AND MORTY</h2>
    <div class="col-12">
      <app-list-api></app-list-api>
    </div>
  </div>
</div>